a, p, span, div, li, input {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100%;
    position: relative;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFF;
    z-index: 2;
}

.top img {
    width: 75px;
    margin-left: 22px;
}

.top ion-icon {
    font-size: 42px;
    color: #000;
    margin-right: 22px;
}

.chat {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 160px);
    background-color: #E5E5E5;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat .message {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: #FFF;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 4px;
    border-radius: 4px;
    word-break: break-all;
}

.message span, .message p span {
    word-break: break-all;
}

.message .time {
    color: #AEAEAE;
}

.message.status {
    background-color: #DCDCDC;
}

.message.private {
    background-color: #FFDEDE;
}

.send {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #FFF;
    z-index: 2;
}

.send input {
    width: 75vw;
    height: 40px;
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

input:focus{
    outline: 0;
}

.send input::placeholder {
    color: #000;
    font-style: italic;
}

.send .input .message {
    font-size: 14px;
    font-weight: 300;
    line-height: 0px;
    color: #505050;
}

.send ion-icon {
    font-size: 26px;
}

.loginScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF;
    z-index: 5;
}

.loginScreen img {
    width: 130px;
    margin: 65px auto 90px;
}

.loginScreen img:last-child {
    margin: 0px;
}

.loginScreen div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#login {
    width: 260px;
    height: 55px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #D7D7D7;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}

#loginButton {
    width: 110px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    border: none;
}

#login::placeholder {
    font-size: 18px;
    line-height: 20px;
    color: #AEAEAE;
}

.sidebar {
    position:absolute;
    top: 0;
    right: 0;
    display: none;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    opacity:1;
    z-index: 3;
}

.sidebar .exit {
    height: 100vh;
    width: calc(100% - 260px);
}

.list {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background-color: #FFF;
    overflow:scroll;
    transition: all 0.4s;
    z-index: 4;
}

.list p {
    width: 80%;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 20px auto 15px;
}

.users .user, .privacy {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user div:first-child {
    display: flex;
    align-items: center;
}

.user .name {
    height: auto;
}

.list ion-icon {
    font-size: 20px;
}

.list span {
    font-size: 16px;
    line-height: 19px;
    padding-left: 5px;
}

.list .check {
    color: transparent;
    font-size: 18px;
    font-weight: bold;
}

.list .user.selected .check {
    color: #6BBD2A;
}

.list .privacy.selected .check {
    color: #6BBD2A;
}

.showing {
    right: 0;
}